<div class="container wp-default">
    <div class="row">
        <div class="col-xs-3">
            <nav class="bny-nav-lateral" hx-ext="bny-nav-lateral">
                <!-- 导航栏主体 -->
                <ul class="bny-nav-body">
                    {:getSidebar($webpress.themeConfig.sidebar.default)}
                </ul>
            </nav>
        </div>
        <div class="col-xs-7">
            <div class="content">
                {$__CONTENT__|raw}
            </div>
        </div>
        <div class="col-xs-2">
            <div class="bny-toc">
                <h1>关于</h1>
                <h2>关于</h2>
                <h3>关于</h3>
                <h4>关于</h4>
                <h5>关于</h5>
                <h6>关于</h6>
            </div>
        </div>
    </div>
</div>